body{
    background-color: #000000;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.navbar{
    position: fixed;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.468);
    border-bottom: 1px solid rgba(59, 59, 59, 0.856);
    backdrop-filter: blur(8px);
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    margin: 0px;

}
.navbar a{
    display: flex;
    color: #414141;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: 'Archivo Black';
    font-size: 10px;
    letter-spacing: 1px; 
    margin-right: 20px;

}
.navbar a:hover{
    color: #fe8e38;
}
.navbar li{
    float:right
}
#title{
    color: #fe8e38;
    float: left;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 15px;
    font-family: 'Archivo Black';
    font-size: 20px;
}
.home{
    position: relative;
    min-height: 100vh;
    background-image: url(./282231.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(59, 59, 59, 0.856);

}

.fname{
    position: absolute;
    top: 250px;
    left: 175px;
    color: #fff;
    font-family: "Black Ops One" ;
    font-size: 100px;   
    display: block;
    transform: scaleX(1.5);  
    z-index:500;      
}
.lname{
    position: absolute;
    top: 350px;
    left: 260px;    
    color: #fe8e38;
    font-family: "Black Ops One" ;
    font-size: 100px;   
    display: block;
    transform: scaleX(2.0);
    z-index: 500;       
}
.bgtext{
    position: absolute;
    justify-content: center;    
    color: #4141415b;
    font-family: "Black Ops One" ;
    font-size: 300px;   
    display: block;
    transform: scale(2.0);  
}
.about{
    position: relative;
    background-color: #000000;
    min-height: 90vh;
    border-bottom: 1px solid rgba(59, 59, 59, 0.856);
    

}
/* #dp{
    position: absolute;
    border-style: outset;
    border: 1px solid #fe8e3800 ;
    border-radius: 25px;
    width: 600px;
    height: 650px;
    margin: 40px;
    background-image: url(./dp.jpeg);
    background-size: 600px;
    background-position: cover;
    background-repeat: no-repeat;

} */
#a{
    position: absolute;
    color: #fff;
    top: 30px;
    left: 5rem;
    font-family: "Press Start 2P";
    font-size:clamp(18px,2vw,30px);
    transform: scaleX(1.1);
}
#a span{
    position: relative;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P";
    font-size: clamp(18px, 2vw, 30px);
    transform: scaleX(1.5);
}
#at{
    position: absolute;
    display: flex;
    top: 105px;
    left: 70px;
    color: #fe8e38;
    font-family: "Archivo Black";
    font-size: 40px;
}
#at2{
    position: absolute;
    display: flex;
    top: 185px;
    left: 70px;
    color: #bcbcbc;
    font-family: "Bricolage Grotesque";
    font-size: 30px;
    line-height: 1.4;
    border-left: #fe8e38;
    width: 50%;
} 
#ab{
    position: absolute;
    display: flex;
    top: 165px;
    left: 845px;
    border-style: outset;
    border: 3px solid #121212;
    border-radius: 10px;
    width: 550px;
    height: 390px;
    background-color: #121212;
}
#ab ul{
    position: absolute;
    top: 20px;
    left: 20px;
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    margin: 0px;
    color: #bcbcbc;
    font-size: 25px;
    line-height: 3.5;
}
#name1{
    color: #fe8e38;
}
#role{
    color: #fe8e38;
}
#loc{
    color: #fe8e38;
}
#learn{
    color: #fe8e38;
}
#c{
    position: absolute;
    display: flex;
    top: 585px;
    left: 70px;
    border-style: outset;
    border: 2px solid #fe8e38;
    border-radius: 10px;
    width: 70px;
    height: 29px;
}
#c1{
    position: absolute;
    display: flex;
    left: 25px;
    color: #fe8e38;
    font-size: 25px;
    text-align: center;
}  
#j{
    position: absolute;
    display: flex;
    top: 585px;
    left: 150px;
    border-style: outset;
    border: 2px solid #fe8e38;
    border-radius: 10px;
    width: 70px;
    height: 29px;
}
#j1{
    position: absolute;
    display: flex;
    left: 8px;
    color: #fe8e38;
    font-size: 25px;
    text-align: center;
}  
#d{
    position: absolute;
    display: flex;
    top: 585px;
    left: 230px;
    border-style: outset;
    border: 2px solid #fe8e38;
    border-radius: 10px;
    width: 70px;
    height: 29px;
}
#d1{
    position: absolute;
    display: flex;
    left: 11px;
    color: #fe8e38;
    font-size: 25px;
    text-align: center;
}  
#hc{
    position: absolute;
    display: flex;
    top: 585px;
    left: 310px;
    border-style: outset;
    border: 2px solid #fe8e38;
    border-radius: 10px;
    width: 133px;
    height: 29px;
}
#hc1{
    position: absolute;
    display: flex;
    left: 5px;
    color: #fe8e38;
    font-size: 25px;
    text-align: center;
}
.skills{
    position: relative;
    background-color: #000000;
    min-height: 90vh;
    border-bottom: 1px solid rgba(59, 59, 59, 0.856);
}  
